@charset "UTF-8";

/* PALETA DE CORES:
verde: 
lilás: f2c82 */ 


*{
    box-sizing: border-box;
}
body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;

    
    
    
}
main {
    
    height: 100vh;
    width: 100vw;
    
   

}
 



#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 500px;
    border-radius: 20px;
    
    overflow: hidden;
    transition: width .3s, height .3s;
    transition-timing-function: ease;
    
}


div#imagem {
    background:#5f2c82 url(../imagens/pexels-steve-1058367.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    height: 200px;
    display: block;
    
    
    

}

div#formulario {
    background-color: white;
    margin-top: -30px;
    
    border: 2px solid #5f2c82;
    border-radius: 0px 0px 20px 20px;
    display: block;
   
        
    
}

h1 {
    text-align: center;
    padding-top: 10px;
}

p {
    padding-left: 10px;
    background-color: white;
    font-size: 0.8em;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

 input {
    background-color: #5f2c82;
    color: white;
    border: 3px solid #5f2c82;
    font-size: 1em;
    width: 190px;
    height: 20px; 

     
}


 
#usuario {
    position: absolute;
    border-radius: 10px 0px 0px 10px;
    color: white;
    width: 21px;
    height: 25px;
    margin-left: 13px;
    background-color: #5f2c82;

}

#icon2 {
    position: absolute;
    border-radius: 10px 0px 0px 10px;
    color: white;
    width: 20px;
    height: 25px;
    
    margin-left: 11px;
    background-color: #5f2c82;
}


   
#email {
    
    background-color: #49a09d ;
    border-radius: 0px 10px 10px 0px;
    margin-bottom: 2px;
    height: 25px;
    width: 200px;
    margin-left: 30px;
    margin-bottom: 5px;
   
    

}



#senha {
    
    border-radius: 0px 10px 10px 0px;
    background-color: #49a09d;
    height: 25px;
    width: 200px;
    margin-bottom: 5px;
    margin-left: 30px;
    
    

    
}
#enviar {
    background-color: #1e9793;
    color: white;
    text-align: center;
    width: 220px;
    height: 27px; 
    border-radius: 10px 10px 10px 10px;
    padding-left: 2px;
    margin-bottom: 4px;
    margin-left: 10px;
    
}

#senhae {
    background-color: white;
    color: black;
    text-align: center;
    width: 220px;
    height: 27px;
    border-radius: 10px;
    padding-left: 2px;
    margin-left: 10px;
    margin-bottom: 40px;

}